%h3 kabupaten.org
%p
  This website is being developed as the online resource for individuals
  and groups involved or interested in Indonesian regional development.
%p
  This website is intended to assist local people in developing their areas
  as well as external/international individuals and groups interested in the development
  of particular areas in Indonesia.
%p
  The content of this website will come from contributors. If you are interested
  in being a contributor, just drop a line to info@kabupaten.org.
