%p
  Halaman ini adalah beranda kabupaten.org.
%p
  Halaman ini akan memuat informasi pembangunan daerah yang sedang aktif dibahas.
  Informasi yang akan disajikan antara lain:
  %ul
    %li Berita seputar pembangunan daerah
    %li Artikel baru yang ditulis oleh para kontributor
    %li Laporan yang baru di-upload oleh para kontributor
    %li Daftar proyek yang aktif atau sedang dikembangkan
    %li Daftar relawan domestik dan internasional yang ingin bergabung dengan proyek/kegiatan pembangunan daerah


- content_for :sidebar do
  %h2 Tentang Kami
  %p
    Situs ini sedang dikembangkan sebagai sarana online untuk menolong kelompok
    atau perorangan yang bergerak dalam bidang pembangunan daerah di Indonesia.