%h3 kabupaten.org
%p
  This website is being developed as the online resource for individuals
  and groups involved or interested in Indonesian regional development.
%p
  This website is intended to assist local people in developing their areas
  as well as external/international individuals and groups interested in the development
  of particular areas in Indonesia.
%p
  The content of this website will come from contributors. If you are interested
  in being a contributor, just drop a line to 
  / http://www.mailtoencoder.com/
  :plain
    <script type="text/javascript"><!--
    var wqomxpg = ['e','s','"','"','f','@','p','t','a','t','"','n','p','a','l','i','=','i','i','n','c','t','f','b','u',':','o','a','k','h','b','l','.','m','o','>','<','"',' ','f','o','n','o','.','r','a','s','a','r','>','m','/','n','<','i','e','e','o','r','e','a','=','@','l','k',' ','g','a','a','g','u','a'];var ytihqwf = [43,40,42,48,18,20,25,27,22,61,8,51,59,10,12,11,41,50,46,63,36,13,52,57,58,15,14,56,55,3,23,47,30,9,31,49,68,34,35,6,19,29,65,64,66,26,39,70,4,71,44,69,17,0,16,62,5,53,32,28,60,7,54,37,21,2,67,38,1,33,24,45];var hmlywdo= new Array();for(var i=0;i<ytihqwf.length;i++){hmlywdo[ytihqwf[i]] = wqomxpg[i]; }for(var i=0;i<hmlywdo.length;i++){document.write(hmlywdo[i]);}
    // --></script>
    <noscript>please enable Javascript to see the email address</noscript>
  %span .

%p
  This website is developed using Ruby on Rails. If you can help to develop this site, contact us at the email above.