%p
  This is the landing page for kabupaten.org.
%p
  It will provide links to information about each kabupaten.
  We are also thinking of the following:
  %ul
    %li News feeds of relevant Indonesian regional development topics
    %li List of recent contributed articles
    %li List of recent reports uploaded by contributors
    %li List of upcoming projects
    %li Link to list of volunteers looking for projects


- content_for :sidebar do
  %h2 About Us
  %p
    This website is being developed as the online resource for individuals
    and groups involved or interested in Indonesian regional development.
