- @page_title = "Editing kabupaten"
- @body_class = "kabupatens"

= render 'form'

= link_to 'Show', @kabupaten, :class => 'btn'
= link_to 'Back', kabupatens_path, :class => 'btn'
= link_to 'Destroy', @kabupaten, :class => 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete
