- @page_title = "Editing project"
- @body_class = "projects"

= render 'form'

= link_to 'Show', @project, :class => 'btn'
= link_to 'Back', projects_path, :class => 'btn'
- if can? :manage, Project
  = link_to 'Destroy', @project, :class => 'btn btn-danger', :data => {:confirm => 'Are you sure?'}, :method => :delete

