- @page_title = "#{t('kabupaten.about')} kabupaten.org"

- if snippet = Snippet.find_by_key('about').try(:body)
  = raw(snippet)

- elsif I18n.locale == :en
  %p
    kabupaten.org is a not-for-profit volunteer organisation supporting community based development
    in Indonesia.
  %p
    We want to help you achieve your goals in developing your target Indonesian region to reach its potential
    in the modern Indonesian state and to become the best it could be for the benefit of all the people in that region.
    Our objective is to facilitate communities of interest that will inspire, encourage and support you in achieving your goals to develop your target region.
  %p
    To achieve this aim, this website is being developed as the online resource for individuals
    and groups involved or interested in developing regions in Indonesia.
  %p
    The content of this website will come from contributors. If you are interested
    in being a contributor, just drop a line to
    %script(type="text/javascript")
      mailto_info();
    %noscript
      Please enable Javascript to see the email address
    %span .

  %p
    This website is developed using Ruby on Rails. If you can help to develop this site, contact us at
    %script(type="text/javascript")
      mailto_info();
    %noscript
      Please enable Javascript to see the email address
    %span .

  %h2 What is a kabupaten

  %p
    Kabupatens or regencies, are Indonesian administrative divisions one hierarchy level below the provincial government (
    = link_to "see description in wikipedia", "http://en.wikipedia.org/wiki/List_of_regencies_and_cities_of_Indonesia"
    ).

- elsif I18n.locale == :id
  %p
    kabupaten.org adalah organisasi relawan nir-laba mendukung pembangunan
    berbasis masyarakat di Indonesia.
  %p
    Situs ini sedang dikembangkan sebagai sarana online untuk menolong kelompok
    atau perorangan yang bergerak dalam bidang pembangunan daerah di Indonesia.
  %p
    Situs ini diharapkan dapat membantu penduduk daerah membangun daerah mereka sendiri
    maupun perorangan atau kelompok luar daerah / internasional yang ingin membangun daerah-daerah
    di Indonesia.
  %p
    Materi situs ini akan dikembangkan oleh para kontributor. Apabila anda berminat
    menjadi kontributor, silakan mengirim email ke
    %script(type="text/javascript")
      mailto_info();
    %noscript
      Aktifkan Javascript pada browser anda untuk menampilkan alamat email
    %span .

  %p
    Situs ini dibuat memakai sistem pemrograman Ruby on Rails. Apabila anda dapat menolong
    mengembangkan situs ini, harap hubungi kami pada
    %script(type="text/javascript")
      mailto_info();
    %noscript
      Aktifkan Javascript pada browser anda untuk menampilkan alamat email
    %span .

