- @page_title = t('kabupaten.contact_us')

- if I18n.locale == :en
  %p
    To contact us, just drop a line to
    %script(type="text/javascript")
      mailto_info();
    %noscript
      Please enable Javascript to see the email address
    %span .

- elsif I18n.locale == :id
  %p
    Untuk menghubungi kami, silakan mengirim email ke
    %script(type="text/javascript")
      mailto_info();
    %noscript
      Aktifkan Javascript pada browser anda untuk menampilkan alamat email
    %span .
