@import "bootstrap";

noscript {
  color:  red;
  font-weight:  bold;
}

.alt_locale {
  font-style: italic;
  color: Gray;
}

ul.ui-menu {
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  width: 1px; /*-- min-width will be applied --*/
}

.ui-menu-item {
  padding: 3px 15px;
}

.ui-helper-hidden-accessible {
  margin-left: 10px;
}


/* ------- customise twitter bootstrap components -----*/
.hero-unit {
  padding: 10px 15px;
}

/* ----- tables ------------ */
table.simple_table {
  margin-bottom: 20px;
  th, td {
    text-align: left;
    vertical-align: top;
    padding-right: 10px;
  }
}
