@import "bootstrap";

noscript {
  color:  red;
  font-weight:  bold;
}

.alt_locale {
  font-style: italic;
  color: Gray;
}

/* ------- customise twitter bootstrap components -----*/
.hero-unit {
  padding: 10px 15px;
}

/* ----- tables ------------ */
table.simple_table {
  margin-bottom: 20px;
  th, td {
    text-align: left;
    vertical-align: top;
    padding-right: 10px;
  }
}
  