@import "base.scss";

body, html {
}

body {
  background: #8eb4cc image-url('body-bg.png') top center repeat-x;
  .bg {
    background: white;
  }

  #messages {
    .flash {
      font-weight: bold;
      padding: 1em;
      margin-bottom: 1em; }
    #error {
      color: white;
      background-color: #e35454; }
    #warning {
      color: #e01414;
      background-color: #ffd4d4; }
    #notice {
      color: #444444;
      background-color: #ddffc8; }
  }

  .bottom-content {
    margin-left: 20px;
  }
  .bottom-space {
    margin-top: 30px;
  }

  .main {
    margin: 0px 20px;
  }
  .sidebar {
    margin-right:20px;
  }
  header {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  footer {
    border-top: solid 1px lightGray;
    padding-top: 10px;
    background-color: whiteSmoke;
    p {
      margin-left: 20px;
    }
    .copyright {
    }
    .social_networks {
      margin-right: 20px;
    }
  }
}