@import "base.scss";


body {
  background: #8eb4cc image-url('body-bg.png') top center repeat-x;

  #messages {
    .flash {
      font-weight: bold;
      text-transform: uppercase;
      padding: 1em;
      margin-bottom: 1em; }
    #error {
      color: white;
      background-color: #e35454; }
    #warning {
      color: #e01414;
      background-color: #ffd4d4; }
    #notice {
      color: #444444;
      background-color: #ddffc8; }
  }
  
  #content {
    margin-left: 20px;
  }
  
  header {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  footer {
    .copyright {
      margin-left: 20px;
    }
    .social_networks {
    }
  }
}